{% extends 'Base.html' %}
{% load static %}

{% block head_title %}
<title>Sobre nosotros</title>
{% endblock head_title %}

{% block content %}
<p class= "h1"> Nosotros</p>
<h4 class="aboutus">Este proyecto esta realizado por mí, me presento soy AGOSTINA SOFIA ALONSO HEREDIA. 
    Mi primer curso de programación en Coderhouse fué "Desarrollo Web", me gustò el mundo de la programaciòn y decidí animarme e inscribirme en un segundo curso
    llamado "Python".
    Realicé el trabajo de forma individual. Me pareció que de esa manera iba a aprender mejor. Ha sido un desafió realizarlo, ya que en varias oportunidades tuve que reiniciarlo.
    Todo el tiempo realice pruebas para corroborar el correcto funcionamiento.
    En este proyecto se puede registrar Animales como: gatos, perros y pájaros, ademas cuenta con un apartado para crear un usuarios, iniciar sesiòn y cerrar sesión.
    Agradezco mucho su tiempo para enseñar y preocuparse por que entendamos.Me gustò mucho este curso, gracias.</h4>
{% endblock content %}