{% extends 'Base.html' %}
{% load static %}

{% block head_title %}
<title>Sobre nosotros</title>
{% endblock head_title %}

{% block content %}
<h4 class="aboutus">Este proyecto fue realizado por la alumna AGOSTINA SOFIA ALONSO HEREDIA. Su primer curso en Coderhouse fue "Desarrollo Web" le gustò el mundo de la programaciòn y se inscribiò en un segundo curso
    llamado "Python"
    Realicè el trabajo de forma individual. Me pareciò que iba a aprender mejor. Ha sido un desafiò realizarlo, ya que en varias oportunidades tuve que reiniciarlo.
    Se hicieron siempre las pruebas para corroborar que todo funcione
    En este proyecto se puede registrar Animales como gatos, perros y pajaros, ademas cuenta con un apartado para iniciar sesiòn.
    Agradezco mucho su tiempo para enseñar y preocuparse por que entendamos.Me gustò mucho este curso, gracias.</h4>
{% endblock content %}