{% extends "Base.html" %}
{% load static %}
{% block tittle_head %}
<title>Crear Gato</title>
{% endblock tittle_head %}

{% block h1_header %}
<div class="tittle">Crear Gato</div>
{% endblock h1_header %}

{% block content %}
<div class="formulario">
    <p>
        {{mensaje}}
    </p>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{formulario}}
        </table>
        <button class="boton-crear">Crear</button>
    </form>
    <img src="{% static 'assets/img/Cats.jpg' %}" class="piccat">
</div>
{% endblock content %}


