{% extends "Base.html" %}
{% load static %}

{% block tittle_head %}
<title>Eliminar Perro</title>
{% endblock tittle_head %}

{% block h1_header %}
<div class="tittle">Eliminar Perro</div>
{% endblock h1_header %}

{% block content %}
<div class="formulario">
    <p>¿Estás seguro de que deseas eliminar al perro "{{ animal.nombre }}"?</p>
    <form action="" method="post">
        {% csrf_token %}
        <button class="boton-eliminar" type="submit">Eliminar</button>
    </form>
    <img src="{% static 'assets/img/Dog.jpg' %}" class="picdog">
</div>
{% endblock content %}
