{% extends "Base.html" %}
{% load static %}

{% block tittle_head %}
<title>Editar Gato</title>
{% endblock tittle_head %}

{% block h1_header %}
<div class="tittle">Editar Gato</div>
{% endblock h1_header %}

{% block content %}
<div class="formulario">
    <form action="" method="post">
    </form>
        <button class="boton-editar" type="submit">Guardar Cambios</button>
     <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ formulario.media }}
            {{ formulario. }}   
        </table>  
        <input type="submit" valye="crear">
    </form>
    <img src="{% static 'assets/img/Cats.jpg' %}" class="piccat">
</div>

{% endblock content %}

