{% extends "Base.html" %}
{% block tittle_head %}
<title>Buscar</title>
{% endblock tittle_head %}

{% block h1_header %}
<form method="GET">
    {{ form.as_p }}
    <button type="submit">Buscar</button>
</form>
{% endblock h1_header %}

{% block content %}
{% if results %}
    <h3>Resultados de la búsqueda:</h3>
    <ul>
        {% for item in results %}
            <li>{{ item.nombre }} - Edad: {{ item.edad }} - Fecha de nacimiento: {{ item.fecha_nacimiento_formatted }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock content %}